body {
  width: 100%;
  height: 100%;
  display: grid;
  padding-top: 15vw;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  font-family: "Source Serif 4", serif;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  font-variant-ligatures: common-ligatures;
  color: var(--color-text);
  background-color: var(--background-color-page);
}

main {
  opacity: 1;
  transition-property: opacity;
  transition-duration: .3s;

  .navigating & {
    opacity: 0;
  }

  .rendered & {
    opacity: 1;
  }
}

