:root {
  --background-color-page: hsl(0, 2%, 98%);
  --color-text: hsla(0, 0%, 0%, 0.8);
  --font-weight-body: 400;
  --font-weight-h1: 700;
  --font-weight-h2: 500;
  --font-size-body: 1.6rem;
  --font-size-h1: 4rem;
  --font-size-h2: 3rem;
  --meta-offset: 3rem;
  --font-weight-meta: 300;
  --text-transform-h2: none;
  --text-transform-meta: uppercase;
}
