.header {
  padding: 0 10vw;
  background-color: var(--background-color-header);
  font-weight: 700;

  h1 {
    margin-bottom: 0;
    padding: 5vh 0;
    font-size: 8vw;
    font-weight: 700;

    @media (min-width: 900px) {
      font-size: 7.2rem;
      font-weight: 500;
    }
  }

  p {
    margin-bottom: 0;
  }

  a {
    &,
    &:link,
    &:visited {
      display: inline-block;
      padding: 2vh 1vw 2.3vh 1vw;
      margin-left: -1vw;
      color: var(--color-header);
      text-decoration: none;
      transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }

    &:hover,
    &:focus {
      background-color: var(--grey-dark);
      color: #fff;
    }
  }
}
