<footer class="site-footer">
<nav class="footer-nav">
  <ul class="footer-nav__list">
    <li><a href="{{ "/" | relURL }}">Home</a></li>
    <li><a href="{{ "/about" | relURL }}">About</a></li>
    <li><a href="{{ "/styleguide" | relURL }}">Styleguide</a></li>
      {{ with .Site.Params.twitter }}
      <li><a href="//twitter.com/{{ . }}" target="_blank" rel="noreferrer" title="Twitter"> Twitter</a></li>
      {{ end }}
      {{ with .Site.Params.linkedin }}
      <li><a href="//www.linkedin.com/in/{{ . }}" target="_blank" rel="noreferrer" title="linkedIn">LinkedIn</a></li>
      {{ end }}
      {{ with .Site.Params.facebook }}
      <li><a href="//www.facebook.com/{{ . }}" target="_blank" rel="noreferrer" title="Facebook">Facebook</a></li>
      {{ end }}
      {{ with .Site.Params.instagram }}
      <li><a href="//www.instagram.com/{{ . }}" target="_blank" rel="noreferrer" title="Instagram">Instagram</a></li>
      {{ end }}
      {{ with .Site.Params.github }}
      <li><a href="//github.com/{{ . }}" target="_blank" rel="noreferrer" title="GitHub">GitHub</a></li>
      {{ end }}
      {{ with .OutputFormats.Get "RSS" }}
      <li><a href="{{ .RelPermalink }}" target="_blank" title="RSS">RSS</a></li>
      {{ end }}
  </ul>
</nav>



<p>&copy; 2010 - {{ now.Format "2006" }}</p>
</footer>
