<!DOCTYPE html>
<html lang="en-US">
  <head>
  <title>{{ .Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}</title>

  {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
  {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint "md5" }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,200..900;1,200..900&display=swap" rel="preload" as="style">
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

  <link rel="preload"
  href="{{ $style.RelPermalink }}"
  integrity="{{ $style.Data.Integrity }}"
  as="style">

  <link rel="stylesheet"
  href="{{ $style.RelPermalink }}"
  integrity="{{ $style.Data.Integrity }}"
  media="screen">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ with .Site.Params.name }}
  <meta name="author" content="{{ . }}">
  {{ end }}

  <link rel="canonical" href="{{ .Permalink }}">

  <meta property="og:title" content="{{ .Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}">
  <meta name="description" property="og:description" content="
  {{ if not .IsHome }}{{ if .Description }}{{.Description}}{{ else }}{{.Summary}}{{ end }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta property="og:image" content="{{ if .Params.metaimage }}{{ .Params.metaimage | absURL }}{{ else }}{{ "chip-cullen-avatar-2018.jpg" | absURL }}{{ end }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta name="twitter:card" content="summary_large_image">

  <meta property="og:site_name" content="{{ .Site.Title }} | {{ .Site.Params.subtitle }}">
  <meta name="twitter:image:alt" content="{{ .Site.Title }}">

  {{ with .Site.Params.twitter }}
  <meta name="twitter:site" content="@{{ . }}">
  {{ end }}


  {{ "<!-- RSS autodiscovery -->" | safeHTML }}
  {{ if .OutputFormats.Get "RSS" }}
  {{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml"
  title="{{ site.Title }}" />
  <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml"
  title="{{ site.Title }}" />

  {{ end }}
  {{ end }}

  {{if eq .Section "post"}}
  {{- partial "structureddata.html" . -}}
  {{ end }}

  {{ if .Params.styles }}
  <style>
    {{ .Params.styles | safeCSS }}
  </style>
  {{ end }}

  {{ if .Params.custom_properties }}
  <style>
  :root {
    {{ range $custom_property := .Params.custom_properties }}
      {{ $custom_property | safeCSS }}
    {{end }}
  }
  </style>
  {{ end }}

  <script type="module">
  import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';

  document.addEventListener('turbo:before-render', async (event) => {
  event.preventDefault()
  console.log('before-render');

  const html = document.documentElement;

  html.classList.remove('rendered');
  html.classList.add('navigating');

  setTimeout(() => {
    event.detail.resume();
  }, 150)

  })
  document.addEventListener('turbo:visit', async (event) => {
  event.preventDefault()

  })
  document.addEventListener('turbo:render', async (event) => {
  event.preventDefault()
  console.log('turbo:render');
  const html = document.documentElement;
  html.classList.remove('navigating');
  html.classList.add('rendered');
  // event.detail.resume()
  })
</script>

</head>
