<!DOCTYPE html>
<html lang="en-US">
  <head>
  <title>{{ .Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}</title>

  {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
  {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint "md5" }}

  <link rel="stylesheet"
  href="{{ $style.RelPermalink }}"
  integrity="{{ $style.Data.Integrity }}"
  media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ with .Site.Params.name }}
  <meta name="author" content="{{ . }}">
  {{ end }}

  <link rel="canonical" href="{{ .Permalink }}">

  <meta property="og:title" content="{{ .Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}">
  <meta name="description" property="og:description" content="
  {{ if not .IsHome }}{{ if .Description }}{{.Description}}{{ else }}{{.Summary}}{{ end }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta property="og:image" content="{{ "chip-cullen-avatar-2018.jpg" | absURL }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta name="twitter:card" content="summary_large_image">

  <meta property="og:site_name" content="{{ .Site.Title }} | {{ .Site.Params.subtitle }}">
  <meta name="twitter:image:alt" content="{{ .Site.Title }}">

  {{ with .Site.Params.twitter }}
  <meta name="twitter:site" content="@{{ . }}">
  {{ end }}


  {{ "<!-- RSS autodiscovery -->" | safeHTML }}
  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml"
  title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml"
  title="{{ .Site.Title }}" />
  {{ end }}

  {{if eq .Section "post"}}
  {{- partial "structureddata.html" . -}}
  {{ end }}

  {{ if .Params.styles }}
  <style>
    {{ .Params.styles | safeCSS }}
  </style>
  {{ end }}

  {{ if .Params.custom_properties }}
  <style>
  :root {
    {{ range $custom_property := .Params.custom_properties }}
      {{ $custom_property | safeCSS }}
    {{end }}
  }
  </style>
  {{ end }}


</head>
