<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "headline": "{{ .Title }}",
  "image": "{{ "chip-cullen-avatar-2018.jpg" | absURL }}",
  "datePublished": "{{ .Date }}",
  "dateModified": "{{ .Lastmod }}",
  "author": {
    "@type": "Person",
    "name": "Chip Cullen"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Chip Cullen",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ "chip-cullen-logo.png" | absURL }}",
      "width": 823,
      "height": 267
    }
  },
  "description": "{{ if .Description }}{{.Description}} {{ else }}{{.Summary}}{{ end }}"
}
</script>
